
nav {
    font-family:'Inter', sans-serif;
}

label {
    font-size: 40px;
    padding: 20px;
    color:#64d810;
}

#hamnav {
    width: 100%;
    background-color:  #fff;
}

#hamnav label, #hamburger {
    display: none;
}

#hamitems {
    display: flex;
}

#hamitems a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    color: black;
    opacity: 0.80;
    font-size: 20px;
    margin-top: 20px;
}

#hamitems a:hover {
    background: #c1ef9fff;
}


@media screen and (max-width: 768px) {


#hamitems {
    display: block;
}

#hamitems a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-top: /*1px solid #c1ef9fff;*/
}

#hamnav label {
    display: inline-block;
}

#hamitems { display: none; }
#hamnav input:checked ~ #hamitems { display: block;}
}


